<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ubah Mahasiswa</title>
  </head>
  <body>
    <h2>UBAH MAHASISWA</h2>
    <a href="/">Batal</a>
    <hr />
    <form method="POST" action="/tambah">
      <label
        >NIM: <br />
        <input name="nim" type="text" value="{{ (index .Data 0).Nim}}" readonly="readonly" />
      </label>
      <br />
      <label
        >Nama: <br />
        <input name="nama" type="text" value="{{ (index .Data 0).Nama}}" />
      </label>
      <br />
      <label
        >Prodi: <br />
        <input name="prodi" type="text" value="{{ (index .Data 0).Prodi}}" />
      </label>
      <br />
      <label
        >Semester: <br />
        <input name="smt" type="number" value="{{ (index .Data 0).Smt}}" />
      </label>
      <br />
      <input type="submit" value="Ubah" />
    </form>
  </body>
</html>
